.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
assets/**
.github/
.gitattributes
*.vsix
pnpm-lock.yaml

src/**
out/**
node_modules/**
dist/**/test/**
esbuild.js
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
